body{
    background: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
        padding: 0;
        margin: 0;
        box-sizing: inherit;
}

.calculator{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    backdrop-filter: blur(30px);
}

.calculator-screen{
           text-align: right;
           color: white;
           background-color: #a79f9f;
           padding: 20px 20px 20px 0px;
           font-size: 5rem;
           width: 100%;        
}

button{
    height: 60px;
    font-size: 2rem ;
    background-color: transparent;
    border: 1px solid #c4c4c4;
    box-shadow: #252525;
    border-radius: 5px;
    color: #266e9e;
}

button:hover{
    background-color: #eceaea;
}

.equal-sign{
    background-color: #2e86c0;
    height: 100%;
    grid-row: 2/6;
    grid-column: 4/5;
    color: #fff;
}

.all-clear{
    background-color: #f0595f;
    color: black;
}

.all-clear:hover{
    background-color: #c4474b;
}


.calculator-keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.operator {
    color: #2e86c0;
}

.equal-sign{
    background-color: #2e86c0;
    height: 100%;
    grid-row: 2/6;
    grid-column: 4/5;
    color: black;
}

.equal-sign:hover{
    background-color: #266e9e;
    color: #d6d6d6;
}